[Desktop Entry]
Name=Circuitent
Comment=Create and edit circuit boards using modern, open source, software.
Exec=com.github.benpocalypse.circuitent
Icon=com.github.benpocalypse.circuitent
Keywords=PCB;Editor;Printed;Circuit;Board;
Terminal=false
Type=Application
StartupNotify=true
Categories=Science;Engineering;
